@font-face {
font-family: 'Pixel-Art Regular';
font-style: normal;
font-weight: normal;
src: local('Pixel-Art Regular'), url('visitor1.woff') format('woff');
}
html {
  height: 100%;
}
ul {list-style-type: none;}
body {
  overflow: hidden;
  background-image: url("rainCanyon.gif");
  font-family: 'Pixel-Art Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Pixel-Art Regular'), url('visitor1.woff') format('woff');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}
div.wrap {
  height:100%; overflow:hidden;
}

h1{
  width: 100%;
  text-align: center;
  color: white !important
}